/* Recorrer una lista anidada */

$networks: (facebook, blue, 1px),
(twitter, rebeccapurple, 2px),
(youtube, red, 3px);
@each $network in $networks {
    $selector: nth($network, 1);
    .#{$selector} {
        background-color: nth($network, 2);
        padding-top: nth($network, 3);
    }
}


/* Crear una función para recuperar un valor dentro de una lista anidada */

@function sublist($list, $index, $subindex) {
    $sublist: nth($list, $index);
    $value: nth($sublist, $subindex);
    @return $value;
}

.data {
    // Ira a la list 2 (twitter, rebeccapurple, 2px) para obtener el 3er elemento (2px)
    value: sublist($networks, 2, 3);
}


/* RECORRER MAP ANIDADO */

$colors: ( "blue": ( base: blue, dark: darken(blue, 10), light: lighten(blue, 10)), "green": ( base: green, dark: darken(green, 10), light: lighten(green, 10)));

/* Recorrer un map anidado */

@each $color,
$subcolors in $colors {
    @each $type,
    $value in $subcolors {
        .#{$color}-#{$type} {
            background-color: $value;
        }
    }
}


/* Crear una función para recuperar un valor dentro de un map anidado */

@function submap ($map, $key, $subkey) {
    $submap: map-get($map, $key);
    $value: map-get($submap, $subkey);
    @return $value;
}

.data {
    // Ira al map con el key green ( base: green, dark: darken(green, 10), light: lighten(green, 10)) para obtener el dark key (darken(green, 10)) 
    value: submap($colors, "green", dark);
}